NEXT_PUBLIC_SUPABASE_URL=https://zlzdrrrkplfplobzznfi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpsemRycnJrcGxmcGxvYnp6bmZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1MjU0MTIsImV4cCI6MjA5MTEwMTQxMn0.JM8lZU_8FAnoMmlpeM2zh3Pukc09-cwCLYvuxksCQGo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpsemRycnJrcGxmcGxvYnp6bmZpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTUyNTQxMiwiZXhwIjoyMDkxMTAxNDEyfQ._iMm1Rqnl5xRk3R7ca-Vk4XBe_kdaNi2xIMEw_WSoz8
NEXT_PUBLIC_APP_URL=http://localhost:3000
